// Light theme colors
$light-background: #f0f0f0;
$light-text: #3E505B;
$light-primary: #007bff;
$light-secondary: #6c757d;
$light-accent: #28a745;

// Dark theme colors
$dark-background: #1a1a1a;
$dark-text: #FF934F;
$dark-primary: #4da6ff;
$dark-secondary: #a9a9a9;
$dark-accent: #5cb85c;

// Theme toggle variable (you can change this dynamically in your JavaScript)
$is-dark-theme: true;

// Function to get the appropriate color based on the current theme
@function theme-color($light-color, $dark-color) {
  @if $is-dark-theme {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

// Usage example:
// background-color: theme-color($light-background, $dark-background);
// color: theme-color($light-text, $dark-text);


.main {
  padding: 2rem 0 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  /* height: 100vh; */
}

.content {
  flex: 1;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

.activeBackground {
  opacity: 1;
  z-index: 1;
}

.inactiveBackground {
  opacity: 0;
  z-index: 0;
}

.title {
  margin-bottom: 1.5rem;
  color: theme-color($light-text, $dark-text);
}

.pbio {
  max-width: 60vw;
  color: theme-color($light-text, $dark-text);
  font-weight: 700;
}

.iconColumn {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  pointer-events: auto;
}

.whiteIcon {
  width: 32px;
  height: 32px;
  color: theme-color($light-text, $dark-text);
  font-size: 24px;
  margin: 20px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.whiteIcon:hover {
  transform: scale(1.2);
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.section {
  height: 100vh;
  /* scroll-snap-align: start; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixedNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  z-index: 1001;
  pointer-events: none;
}

.fixedNavigation .socialIcons,
.fixedNavigation .navIcons {
  position: static;
  pointer-events: auto;
}

.carouselContainer {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
}

.carouselButtons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.carouselButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.leftButton {
  left: -50px;
}

.rightButton {
  right: -50px;
}

.carouselButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.audioPlayerSnackbar {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideUp 0.3s ease-out;
  max-width: 600px;
}



@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.videoSection {
  background-color: theme-color($light-background, $dark-background);
  color: theme-color($light-text, $dark-text);
}

.contactForm {
  width: 45vw;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 800px) {
  .contactForm {
    width: 60vw;
  }
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: theme-color($light-text, $dark-text);
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: theme-color($light-text, $dark-text);
  font-size: 16px;
}

.formGroup textarea {
  height: 150px;
  resize: vertical;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: theme-color($light-primary, $dark-primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: darken(theme-color($light-primary, $dark-primary), 10%);
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 60vw;
  margin: 0 auto;
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}